services:
  demo-app:
    build: ../demo-app
    container_name: demo-app
    ports:
      - "8000:8000"
    environment:
      - LOG_FILE=/var/log/demo/app.log
    volumes:
      - demo_logs:/var/log/demo

  prometheus:
    image: prom/prometheus:v3.8.1
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/alerts.yml:/etc/prometheus/alerts.yml:ro

  loki:
    image: grafana/loki:3.6.3
    container_name: loki
    ports:
      - "3100:3100"
    command: ["-config.file=/etc/loki/loki-config.yml"]
    volumes:
      - ./loki/loki-config.yml:/etc/loki/loki-config.yml:ro

  promtail:
    image: grafana/promtail:3.6.2
    container_name: promtail
    command: ["-config.file=/etc/promtail/config.yml"]
    volumes:
      - ./promtail/promtail-config.yml:/etc/promtail/config.yml:ro
      - demo_logs:/var/log/demo

  grafana:
    image: grafana/grafana-oss:12.3.1
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro

volumes:
  demo_logs:
