name: ci

on:
  push: { branches: ["main"] }
  pull_request:

jobs:
  policy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install conftest v0.60.0
        run: |
          curl -sL https://github.com/open-policy-agent/conftest/releases/download/v0.60.0/conftest_0.60.0_Linux_x86_64.tar.gz -o conftest.tgz
          tar -xzf conftest.tgz
          sudo mv conftest /usr/local/bin/conftest
          conftest --version

      - name: Policy check (K8s + Terraform)
        run: |
          conftest test infra/k8s/manifests --policy policy/k8s
          conftest test infra/terraform --policy policy/terraform
